<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
  <link rel="shortcut icon" href="#" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
  <div class="container mt-5 p-5">
    <div class="row align-items-center justify-content-around">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="/images/lost.svg" class="w-100" alt="image-404">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1 class="not-found-heading fw-bold">404</h1>
        <h2>WAH! Anda tersesat.</h2>
        <p class="text-secondary">
          Halaman yang sedang anda akses tidak tersedia. Perjalanan anda sampai sini adalah sebuah misteri. Anda
          dapat menekan tombol dibawah untuk balik ke halaman home.
        </p>
        <a href="/" class="btn my-outline-btn">Kembali</a>
      </div>
    </div>
  </div>
</body>

</html>