</div>

<% if(page_name.toLowerCase() == 'home') { %>
<div class="row w-100 m-0 mt-4 py-4 justify-content-center align-items-center">
  <div class="col-lg-3 col-md-4 col-sm-6 col-8 rounded py-2 text-center bg-dark">
    <a href="https://github.com/Hafidzrdwn/express-list-app" target="_blank" class="footer-icon fs-1"><i
        class="fab fa-github"></i></a>
    <p class="my-color fw-bold">Copyright &copy; 2022 LISTQ</p>
  </div>
</div>
<% } %>

</body>
</script>
<script src="https://kit.fontawesome.com/2e160f1ac0.js" crossorigin="anonymous"></script>
<script src="/jquery/jquery.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
<script src="/js/script.js"></script>

</html>